* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
}
p {
  margin: 0px;
}
hr {
  margin-bottom: 20px;
}
a {
  color: black;
}
a:hover {
  color: grey;
}
ul {
  padding: 0px;
  margin: 0px;
}
main {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 65rem;
  width: 100%;
  margin: 0 auto;
}
.item {
  flex-grow: 1;
}

/* #region ---home & sub-page_[navigation]--- */
.header-bar {
  width: 100%;
}
.header-bar.container {
  padding-left: 3%;
  padding-right: 3%;
  z-index: 10;
}
.header-bar.item.left {
  padding: 30px 0px 30px 0px;
}
.header-bar.item.right {
  display: flex;
  list-style: none;
  justify-content: end;
  align-items: center;
}

.menu.align-right li {
  display: inline;
  padding: 0 20px 0 20px;
}
.sticky {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* #endregion */

/* #region ---home_[works]--- */
.works.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 65rem;
}
.works.item {
  width: 50%;
  min-width: 20rem;
  padding: 20px;
  transition: 1s ease-in-out;
}
.works.item img {
  width: 100%;
}
.works.item:hover img {
  transform: scale(1.005);
}
.work-title-container {
  padding-left: 5px;
}
.work-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.work-title.small {
  font-size: 13px;
}
.work-subTitle {
  display: inline;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12.5px;
  color: rgb(75, 75, 75);
}
/* #endregion  */

/* #region ---sub-page_[works]--- */
.all-content.container {
  padding-top: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.grid {
  padding: 5%;
  padding-top: 0px;
}
/* #endregion  */

/* #region ---sub-page_[title grid]--- */
.title.grid {
  padding-left: 13%;
}
.title.grid ul {
  list-style-type: none;
}
.long-intro.grid {
  padding-right: 9%;
}
.main-content.grid {
  grid-column: span 2;
}

.short-intro li {
  margin-bottom: 10px;
  margin-left: 6px;
}
/* #endregion  */

/* ---sub-page_[long-intro & main-content grid]--- */
/* #region ---text style--- */
.text.no-border {
  margin-top: 10px;
}
.text.green-left-border {
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 10px;
}
.text.red-left-border {
  margin-bottom: 30px;
  padding-left: 10px;
}
.text.orange-left-border {
  margin-top: 20px;
  padding-left: 10px;
}
.text.blue-left-border {
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 10px;
}
.section-list {
  list-style: square;
}
.second.section-list {
  list-style: circle;
}
/* #endregion  */
/* #region ---copyright--- */
.copyright.container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.copyright.item {
  padding-top: 30px;
  padding-bottom: 50px;
}
/* #endregion  */
/* #region ---Sub-page--- */
.works-header.wrap {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 75rem;
}
/* #endregion  */

/* #region ---@media--- */
@media (max-width: 800px) {
  .header-bar.container {
    padding-left: 7%;
    padding-right: 7%;
  }
}
/* #endregion  */
