/* layout */

.header-bar-left {
  grid-area: h_left;
}
.header-bar-right {
  grid-area: h_right;
}

.grid-container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  max-width: 75rem;
  margin: 0 auto;

  display: grid;
  grid-template-areas: "h_left h_left h_left h_right h_right h_right";
  padding: 0px 20px 0px 20px;
}

.header-bar-right a {
  padding: 0px 20px 0px 20px;
}

.menu {
  padding: 0px;
  display: flex;
}

.align-right {
  align-items: center;
  justify-content: flex-end;
}

li {
  display: inline;
  font-size: 18px;
  font-family: sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #999;
  text-decoration: none;
}

.header-bar-title {
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  list-style-type: none;
}

.cell {
  padding: 30px;
}

.cell img {
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3%;
}
